<!Doctype html>
<html>
  <head><title>chose your careers</title>
    <style>
      h1{
        font-size:40px;
        font-family:Roboto;
        font-weight:normal;
        text-align:center
      }
      #banner{
        width:100%;
        height:360px;
        object-fit:cover;
      }
    </style>
  </head>
  <body>
 <h1>aws careers portal</h1>
    <img id='banner' src="https://0afcbe60-6570-4e6e-8569-cefae9648825-00-szzkemld1hdh.sisko.replit.dev/static/banner.jpeg" height="320">
    <h2>about aws</h2>
    <p>Amazon Web Services (AWS) is the world’s most comprehensive and broadly adopted cloud, offering over 200 fully featured services from data centers globally. Millions of customers—including the fastest-growing startups, largest enterprises, and leading government agencies—are using AWS to lower costs, become more agile, and innovate faster.
</p>
<h2>open positions</h2>    
    <p>TODO- show the jobs HERE</p>
    <button>contact-us</button>
  </body>
</html>